{
  "openapi": "3.1.0",
  "info": {
    "title": "Geekflare",
    "description": "Official OpenAPI specification for all Geekflare endpoints.",
    "version": "1.0.0",
    "license": { "name": "MIT" }
  },
  "servers": [{ "url": "https://api.geekflare.com" }],
  "security": [
    {
      "x-api-key": []
    }
  ],
  "paths": {
    "/metascraping": {
      "post": {
        "description": "Extract a page's meta tags, Open Graph, and Twitter Card data like title, description, canonical URL, images, and more without scraping the full page body.",
        "operationId": "metaScrape",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetaScrapeDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully scraped webpage meta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaScrapeResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "422": {
            "description": "No metadata found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 422,
                  "message": "NO_METADATA",
                  "details": "Metadata could not be extracted from the target URL."
                }
              }
            }
          },
          "500": {
            "description": "Crawling failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "CRAWL_FAILED",
                  "details": "Our crawling service encountered an error while attempting to fetch data from the specified URL."
                }
              }
            }
          }
        },
        "summary": "Scrape a webpage meta with custom options",
        "tags": ["api-tool"]
      }
    },
    "/webscraping": {
      "post": {
        "description": "Fetch a page and return content as Markdown, HTML, JSON, or plain text. Automatically detects whether JavaScript rendering is needed, with optional stealth mode, proxy routing (`proxyCountry`, with optional `proxyMode` control), CSS/XPath field extraction, and ready-made `product`/`contact` extraction templates.",
        "operationId": "webScrape",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebScrapeDto"
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "url": "https://example.com"
                  }
                },
                "customOptions": {
                  "summary": "Custom options",
                  "value": {
                    "url": "https://example.com",
                    "format": ["markdown", "json"],
                    "stealth": true,
                    "waitTime": 2.5
                  }
                },
                "withProxy": {
                  "summary": "With proxy",
                  "value": {
                    "url": "https://example.com",
                    "proxyCountry": "gb"
                  }
                },
                "withProxyAuto": {
                  "summary": "Proxy on demand (auto)",
                  "value": {
                    "url": "https://example.com",
                    "proxyMode": "auto"
                  }
                },
                "withTemplate": {
                  "summary": "With extraction template",
                  "value": {
                    "url": "https://testingurl.dev/scraping/ecommerce/product/1",
                    "extractionMode": "template",
                    "template": "product"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully scraped webpage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebScrapeResponseDto"
                },
                "examples": {
                  "default": {
                    "summary": "Default scrape",
                    "value": {
                      "timestamp": 1778737930991,
                      "apiStatus": "success",
                      "apiCode": 200,
                      "meta": {
                        "url": "https://example.com",
                        "device": "desktop",
                        "format": ["html-llm"],
                        "fileOutput": false,
                        "blockAds": true,
                        "renderJS": true,
                        "stealth": false,
                        "waitTime": 0,
                        "extractionMode": "default",
                        "proxyMode": "false",
                        "proxyUsed": false,
                        "test": { "id": "abc123" }
                      },
                      "data": "# Example Domain\n\nThis domain is for use in illustrative examples..."
                    }
                  },
                  "templateContact": {
                    "summary": "extractionMode: template, template: contact",
                    "value": {
                      "timestamp": 1786985696914,
                      "apiStatus": "success",
                      "apiCode": 200,
                      "meta": {
                        "url": "https://testingurl.dev/contact",
                        "device": "desktop",
                        "format": ["json"],
                        "fileOutput": false,
                        "blockAds": true,
                        "renderJS": true,
                        "stealth": false,
                        "waitTime": 1,
                        "extractionMode": "template",
                        "template": "contact",
                        "proxyMode": "false",
                        "proxyUsed": false,
                        "test": { "id": "8f3a07aa-8b8d-4f21-b0d6-706d3fea5dc0" }
                      },
                      "data": {
                        "json": {
                          "contact": {
                            "companyName": "TestingURL.dev",
                            "locations": [
                              {
                                "id": "london",
                                "label": "London",
                                "address": "221B Baker Street",
                                "mapUrl": "https://www.google.com/maps/search/?api=1&query=221B%20Baker%20Street",
                                "phones": [{ "value": "+1-555-0102" }],
                                "emails": [
                                  {
                                    "value": "hello@testingurl.dev",
                                    "label": "general"
                                  },
                                  {
                                    "value": "sales@testingurl.dev",
                                    "label": "sales"
                                  }
                                ]
                              }
                            ],
                            "contactChannels": {
                              "emails": [
                                {
                                  "value": "hello@testingurl.dev",
                                  "label": "general"
                                },
                                {
                                  "value": "sales@testingurl.dev",
                                  "label": "sales"
                                }
                              ],
                              "phones": [{ "value": "+1-555-0102" }],
                              "forms": ["https://testingurl.dev/contact"]
                            },
                            "socialProfiles": [
                              {
                                "platform": "github",
                                "url": "https://github.com/geekflare/testingurl"
                              }
                            ],
                            "extractionMeta": {
                              "fieldsFound": [
                                "companyName",
                                "locations",
                                "address",
                                "phones",
                                "emails",
                                "forms",
                                "socialProfiles"
                              ],
                              "fieldsMissing": [
                                "hours",
                                "chatUrl",
                                "contactPersons"
                              ]
                            }
                          },
                          "raw": "..."
                        }
                      }
                    }
                  },
                  "templateProduct": {
                    "summary": "extractionMode: template, template: product",
                    "value": {
                      "timestamp": 1786985781147,
                      "apiStatus": "success",
                      "apiCode": 200,
                      "meta": {
                        "url": "https://testingurl.dev/scraping/ecommerce/product/1",
                        "device": "desktop",
                        "format": ["json"],
                        "fileOutput": false,
                        "blockAds": true,
                        "renderJS": true,
                        "stealth": false,
                        "waitTime": 1,
                        "extractionMode": "template",
                        "template": "product",
                        "proxyMode": "false",
                        "proxyUsed": false,
                        "test": { "id": "22c8fcbf-dcf9-42e5-aaec-a0a3df4b334a" }
                      },
                      "data": {
                        "json": {
                          "product": {
                            "title": "Vertex Air Laptop 107",
                            "brand": "Vertex",
                            "category": "laptops",
                            "url": "https://testingurl.dev/scraping/ecommerce/product/1",
                            "description": "Designed with a minimalist aesthetic.",
                            "aggregateRating": {
                              "ratingValue": 2,
                              "bestRating": 5,
                              "reviewCount": 19
                            },
                            "variants": [
                              {
                                "sku": "TU-1",
                                "price": { "amount": 86, "currency": "USD" },
                                "availability": {
                                  "inStock": true,
                                  "text": "https://schema.org/InStock"
                                },
                                "images": [
                                  {
                                    "url": "https://testingurl.dev/assets/placeholder-product.svg"
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "422": {
            "description": "Unable to connect to the target website.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 422,
                  "message": "UNABLE_TO_CONNECT",
                  "details": "The destination server could not be resolved, refused the connection, timed out, or is redirecting indefinitely."
                }
              }
            }
          },
          "500": {
            "description": "Crawling failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "CRAWL_FAILED",
                  "details": "Our crawling service encountered an error while attempting to fetch data from the specified URL."
                }
              }
            }
          }
        },
        "summary": "Scrape a webpage with custom options",
        "tags": ["api-tool"]
      }
    },
    "/dnsrecord": {
      "post": {
        "description": "Look up A, AAAA, CNAME, MX, CAA, NS, SOA, SRV, and TXT records for any domain. Query every supported type in one call, or pass `types` to fetch only the ones you need.",
        "operationId": "dnsRecord",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsRecordDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved DNS records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "500": {
            "description": "DNS lookup failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "DNS_LOOKUP_FAILED",
                  "details": "DNS lookup failed for the requested domain."
                }
              }
            }
          }
        },
        "summary": "Retrieve DNS records for a given domain",
        "tags": ["api-tool"]
      }
    },
    "/screenshot": {
      "post": {
        "description": "Capture a pixel-perfect screenshot of any URL as PNG, JPEG, or WebP. Supports full-page capture, device emulation, custom viewports, and CAPTCHA/cookie-banner bypass.",
        "operationId": "screenshot",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenshotDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully captured screenshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenshotResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "422": {
            "description": "Unable to connect to the target website.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 422,
                  "message": "UNABLE_TO_CONNECT",
                  "details": "The destination server could not be resolved, refused the connection, timed out, or is redirecting indefinitely."
                }
              }
            }
          },
          "500": {
            "description": "Screenshot generation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "SCREENSHOT_FAILED",
                  "details": "Failed to process the request during browser automation."
                }
              }
            }
          }
        },
        "summary": "Capture a full-page screenshot of a website",
        "tags": ["api-tool"]
      }
    },
    "/up": {
      "post": {
        "description": "Check whether a website is reachable and returns a successful HTTP response. Ideal for uptime monitoring and pre-flight checks before running other tests.",
        "operationId": "siteStatus",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteStatusDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteStatusResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "429": {
            "description": "Too many redirects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 429,
                  "message": "TOO_MANY_REDIRECTS",
                  "details": "Exceeded the maximum number of redirects while checking the target website."
                }
              }
            }
          },
          "500": {
            "description": "Site status check failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "SITE_STATUS_FAILED",
                  "details": "Failed to determine the availability or status of the target website."
                }
              }
            }
          }
        },
        "summary": "Check if a site is up or down",
        "tags": ["api-tool"]
      }
    },
    "/redirectcheck": {
      "post": {
        "description": "Trace the full redirect chain of a URL, including every intermediate hop, status code, and the final destination. Useful for auditing SEO redirects and link rot.",
        "operationId": "redirectCheck",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedirectCheckDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved redirect chain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectCheckResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "429": {
            "description": "Too many redirects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 429,
                  "message": "TOO_MANY_REDIRECTS",
                  "details": "Exceeded the maximum number of redirects while resolving the target URL."
                }
              }
            }
          },
          "500": {
            "description": "Redirect check failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "REDIRECT_CHECK_FAILED",
                  "details": "Unable to determine the redirect chain for the target URL."
                }
              }
            }
          }
        },
        "summary": "Check the redirection chain of a given URL",
        "tags": ["api-tool"]
      }
    },
    "/brokenlink": {
      "post": {
        "description": "Scan a webpage for broken links and report which URLs return errors, so you can fix dead links before they hurt SEO or user experience.",
        "operationId": "brokenLink",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrokenLinkDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully checked for broken links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokenLinkResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "422": {
            "description": "Unable to connect to the target website.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 422,
                  "message": "UNABLE_TO_CONNECT",
                  "details": "The destination server could not be resolved, refused the connection, timed out, or is redirecting indefinitely."
                }
              }
            }
          }
        },
        "summary": "Check if a webpage contains broken links",
        "tags": ["api-tool"]
      }
    },
    "/url2pdf": {
      "post": {
        "description": "Convert any URL into a downloadable PDF document, with control over page orientation, margins, and scale. Useful for archiving pages or generating reports.",
        "operationId": "url2Pdf",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Url2PdfDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully captured Url2Pdf",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Url2PdfResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "422": {
            "description": "Unable to connect to the target website.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 422,
                  "message": "UNABLE_TO_CONNECT",
                  "details": "The destination server could not be resolved, refused the connection, timed out, or is redirecting indefinitely."
                }
              }
            }
          },
          "500": {
            "description": "PDF conversion failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "PDF_CONVERSION_FAILED",
                  "details": "Our PDF conversion service encountered an error while fetching the target URL."
                }
              }
            }
          }
        },
        "summary": "Capture a full-page Url2Pdf of a website",
        "tags": ["api-tool"]
      }
    },
    "/openport": {
      "post": {
        "description": "Scan a domain or IP for open TCP ports, either across the top N most common ports or a custom range you specify, with optional service/version detection on the ports found open. Useful for surface-level network security audits and exposure checks.",
        "operationId": "openPorts",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenPortDto"
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "url": "https://example.com"
                  }
                },
                "topPorts": {
                  "summary": "Top ports",
                  "value": {
                    "url": "https://example.com",
                    "topPorts": 100
                  }
                },
                "portRanges": {
                  "summary": "Port ranges",
                  "value": {
                    "url": "https://example.com",
                    "portRanges": "80,443,1000-1010"
                  }
                },
                "detectServices": {
                  "summary": "Detect services",
                  "value": {
                    "url": "https://example.com",
                    "detectServices": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Open ports retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenPortResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "408": {
            "description": "Port scan timed out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 408,
                  "message": "NMAP_TIMEOUT",
                  "details": "The port scan timed out before it could complete."
                }
              }
            }
          },
          "500": {
            "description": "Port scan failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "PORT_SCAN_FAILED",
                  "details": "Our port scanning service encountered an unexpected error while attempting to scan the target."
                }
              }
            }
          }
        },
        "summary": "Scan a website for open ports",
        "tags": ["api-tool"]
      }
    },
    "/tlsscan": {
      "post": {
        "description": "Inspect a domain's TLS/SSL configuration, including which protocol versions are supported (from the deprecated and insecure SSLv2/SSLv3 through TLS 1.3) and certificate details, to catch expiring certificates and outdated, insecure configurations.",
        "operationId": "tlsScan",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TlsScanDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved TLS scan information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TlsScanResponseDto"
                },
                "example": {
                  "timestamp": 1786985154370,
                  "apiStatus": "success",
                  "apiCode": 200,
                  "meta": {
                    "url": "example.com",
                    "test": { "id": "25075387-6ffd-4779-94b5-2304d77c8f77" }
                  },
                  "data": {
                    "protocols": {
                      "ssl2": true,
                      "ssl3": true,
                      "tls10": true,
                      "tls11": true,
                      "tls12": true,
                      "tls13": false
                    },
                    "certificate": {
                      "commonName": "*.example.com",
                      "subjectAltName": "DNS:*.example.com, DNS:example.com",
                      "issuer": {
                        "country": "GB",
                        "organization": "Sectigo Limited",
                        "commonName": "Sectigo Public Server Authentication CA OV R36"
                      },
                      "expiry": "Sep 30 23:59:59 2026 GMT"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "422": {
            "description": "TLS handshake failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 422,
                  "message": "TLS_HANDSHAKE_FAILED",
                  "details": "Unable to establish a TLS connection with the target server."
                }
              }
            }
          },
          "500": {
            "description": "TLS scan failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "TLS_SCAN_FAILED",
                  "details": "Unable to complete the TLS scan for the target domain."
                }
              }
            }
          }
        },
        "summary": "Perform TLS scan for a given domain",
        "tags": ["api-tool"]
      }
    },
    "/loadtime": {
      "post": {
        "description": "Measure how long a webpage takes to fully load from a real browser. Pass `targetCountries` (up to 3 ISO country codes) to also test reachability from those locations via proxy alongside the default US server test, and compare results side by side.",
        "operationId": "loadTime",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoadTimeDto"
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "url": "https://example.com"
                  }
                },
                "withProxy": {
                  "summary": "With proxy",
                  "value": {
                    "url": "https://example.com",
                    "proxyCountry": "gb"
                  }
                },
                "withTargetCountries": {
                  "summary": "With target countries",
                  "value": {
                    "url": "https://example.com",
                    "targetCountries": ["gb", "ca"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Load time retrieved successfully. Returns a single-location result by default, or a per-location breakdown when `targetCountries` is set.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/LoadTimeResponseDto" },
                    {
                      "$ref": "#/components/schemas/LoadTimeMultiLocationResponseDto"
                    }
                  ]
                },
                "examples": {
                  "singleLocation": {
                    "summary": "Default (single location)",
                    "value": {
                      "timestamp": 1783943217189,
                      "apiStatus": "success",
                      "apiCode": 200,
                      "message": "Site is reachable.",
                      "meta": {
                        "url": "https://example.com",
                        "followRedirect": true,
                        "redirectedURL": "https://example.com/",
                        "test": { "id": "mxqx9v9y0742lap6altwdteqd28t23nq" }
                      },
                      "data": {
                        "dns": 10,
                        "connect": 12,
                        "tls": 9,
                        "send": 19,
                        "wait": 86,
                        "total": 88,
                        "statusCode": 200,
                        "reasonPhrase": "OK"
                      }
                    }
                  },
                  "multiLocation": {
                    "summary": "targetCountries set (multi-location)",
                    "value": {
                      "timestamp": 1785938505112,
                      "apiStatus": "success",
                      "apiCode": 200,
                      "message": "Reachable from all 3 tested locations.",
                      "meta": {
                        "url": "https://logi.com",
                        "test": {
                          "id": "cc20cf78-3bfb-4ad4-8e75-4be137f7fb3d"
                        },
                        "targetCountries": ["us", "gb", "ca"],
                        "followRedirect": true
                      },
                      "summary": {
                        "reachable": ["us", "gb", "ca"]
                      },
                      "locations": [
                        {
                          "location": "us",
                          "countryName": "United States",
                          "status": "reachable",
                          "data": {}
                        },
                        {
                          "location": "gb",
                          "countryName": "Great Britain",
                          "status": "reachable",
                          "data": {}
                        },
                        {
                          "location": "ca",
                          "countryName": "Canada",
                          "status": "reachable",
                          "data": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "422": {
            "description": "Unable to connect to the target website.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 422,
                  "message": "UNABLE_TO_CONNECT",
                  "details": "The destination server could not be resolved, refused the connection, timed out, or is redirecting indefinitely."
                }
              }
            }
          },
          "500": {
            "description": "Failed to measure page load time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "LOAD_TIME_FAILED",
                  "details": "Unable to measure the page load time for the target URL."
                }
              }
            }
          }
        },
        "summary": "Measure the page load time for a given URL",
        "tags": ["api-tool"]
      }
    },
    "/mixedcontent": {
      "post": {
        "description": "Scan an HTTPS page for insecure HTTP resources like images, scripts, or stylesheets that trigger browser security warnings and break the padlock icon.",
        "operationId": "mixedContent",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MixedContentDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MixedContentResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "422": {
            "description": "Unable to connect to the target website.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 422,
                  "message": "UNABLE_TO_CONNECT",
                  "details": "The destination server could not be resolved, refused the connection, timed out, or is redirecting indefinitely."
                }
              }
            }
          },
          "500": {
            "description": "Failed to check for mixed content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "MIXED_CONTENT_CHECK_FAILED",
                  "details": "Unable to analyze the target webpage for mixed content."
                }
              }
            }
          }
        },
        "summary": "Check for mixed content on a site",
        "tags": ["api-tool"]
      }
    },
    "/dnssec": {
      "post": {
        "description": "Check whether DNSSEC is properly configured and validating for a domain, helping you confirm protection against DNS spoofing and cache poisoning attacks.",
        "operationId": "dnsSec",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsSecDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DNSSEC test result retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsSecResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "500": {
            "description": "DNSSEC check failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "DNSSEC_CHECK_FAILED",
                  "details": "DNSSEC validation failed due to an internal processing error."
                }
              }
            }
          },
          "502": {
            "description": "DNSSEC query failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 502,
                  "message": "DNSSEC_QUERY_FAILED",
                  "details": "DNSSEC query failed for the requested domain."
                }
              }
            }
          },
          "504": {
            "description": "DNS server timed out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 504,
                  "message": "DNSSEC_TIMEOUT",
                  "details": "DNSSEC query timed out while contacting the DNS server."
                }
              }
            }
          }
        },
        "summary": "Check if DNSSEC is enabled for a domain",
        "tags": ["api-tool"]
      }
    },
    "/mtr": {
      "post": {
        "description": "Run a My Traceroute (MTR) diagnostic between Geekflare and a target host, combining traceroute and ping to show packet loss and latency at each network hop.",
        "operationId": "mtr",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MtrDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MTR test completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MtrResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "500": {
            "description": "MTR is not installed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "MTR_NOT_FOUND",
                  "details": "The mtr command is not available on the server."
                }
              }
            }
          }
        },
        "summary": "Perform MTR (My Traceroute) network diagnostic test",
        "tags": ["api-tool"]
      }
    },
    "/ping": {
      "post": {
        "description": "Send ICMP ping requests to a URL or IP and return latency, packet loss, and round-trip time statistics — useful for quick reachability and network health checks.",
        "operationId": "ping",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PingDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ping test completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "504": {
            "description": "Host is unreachable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 504,
                  "message": "TCP_PING_FAILED",
                  "details": "All TCP ping attempts to the target host failed."
                }
              }
            }
          }
        },
        "summary": "Perform ICMP Ping test on a given URL or IP",
        "tags": ["api-tool"]
      }
    },
    "/lighthouse": {
      "post": {
        "description": "Run a Google Lighthouse audit for performance, SEO, accessibility, and best practices, with support for advanced flags via the `parameters` array.",
        "operationId": "lighthouse",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LighthouseDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully ran Lighthouse audit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LighthouseResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "422": {
            "description": "Unable to connect to the target website.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 422,
                  "message": "UNABLE_TO_CONNECT",
                  "details": "The destination server could not be resolved, refused the connection, timed out, or is redirecting indefinitely."
                }
              }
            }
          },
          "500": {
            "description": "Lighthouse audit failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "LIGHTHOUSE_UNEXPECTED",
                  "details": "Unexpected Lighthouse audit failure."
                }
              }
            }
          }
        },
        "summary": "Run Lighthouse audit on a website",
        "tags": ["api-tool"]
      }
    },
    "/search": {
      "post": {
        "description": "Search the web, news, or images and get structured results with ads and HTML noise removed, as JSON, Markdown, or HTML.\n\nChoose a mode:\n- **Standard search** — web, news, or image results, with optional time, category, domain, city, and device filters.\n- **Search with scrape** — set `scrape: true` to include the full content of the top result pages.\n- **Grounded answer** — set `groundedAnswer: true` for an AI-synthesized answer with citations.\n- **SERP** — set `serp: true` for the full Google results page (organic results, ads, related searches, People Also Ask).",
        "operationId": "search",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequestDto"
              },
              "examples": {
                "default": {
                  "summary": "Default",
                  "value": {
                    "query": "best running shoes"
                  }
                },
                "serp": {
                  "summary": "SERP (Google results)",
                  "value": {
                    "query": "best running shoes",
                    "serp": true
                  }
                },
                "serpCity": {
                  "summary": "SERP with city targeting",
                  "value": {
                    "query": "best running shoes",
                    "serp": true,
                    "city": "London,England,United Kingdom"
                  }
                },
                "serpFilters": {
                  "summary": "SERP with filters (news, past week, excluded domain, limit)",
                  "value": {
                    "query": "best running shoes",
                    "serp": true,
                    "source": "news",
                    "time": "w",
                    "limit": 5,
                    "excludeDomains": ["pinterest.com"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results (format depends on request)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SearchResponseDto"
                    },
                    {
                      "$ref": "#/components/schemas/ImageSearchResponseDto"
                    },
                    {
                      "$ref": "#/components/schemas/SearchMarkdownResponseDto"
                    },
                    {
                      "$ref": "#/components/schemas/SearchHtmlResponseDto"
                    },
                    {
                      "$ref": "#/components/schemas/GroundedAnswerResponseDto"
                    },
                    {
                      "$ref": "#/components/schemas/SearchSerpResponseDto"
                    }
                  ]
                },
                "examples": {
                  "standard": {
                    "summary": "Standard search",
                    "value": {
                      "timestamp": 1778737930991,
                      "apiStatus": "success",
                      "apiCode": 200,
                      "meta": {
                        "query": "best running shoes",
                        "count": 10,
                        "source": ["web"],
                        "location": "us",
                        "time": "any",
                        "scrape": false,
                        "scrapeLimit": 3,
                        "test": {
                          "id": "abc123"
                        }
                      },
                      "data": [
                        {
                          "title": "Best Running Shoes of 2026 — Tested & Reviewed",
                          "url": "https://example.com/best-running-shoes",
                          "snippet": "We tested over 100 pairs to find the best running shoes for every type of runner...",
                          "date": "Jan 15, 2025",
                          "position": 1
                        },
                        {
                          "title": "Top 10 Running Shoes for 2026",
                          "url": "https://example2.com/running-shoes",
                          "snippet": "From track to trail, here are the top running shoes this year...",
                          "position": 2
                        }
                      ]
                    }
                  },
                  "serp": {
                    "summary": "SERP (serp: true)",
                    "value": {
                      "timestamp": 1790698941310,
                      "apiStatus": "success",
                      "apiCode": 200,
                      "meta": {
                        "query": "ats for agencies",
                        "limit": 10,
                        "count": 10,
                        "source": ["web"],
                        "format": "json",
                        "location": "us",
                        "time": "any",
                        "category": "general",
                        "scrape": false,
                        "scrapeLimit": 3,
                        "test": {
                          "id": "9f455f1a-5df8-4658-97fd-1a286789dc67"
                        }
                      },
                      "data": {
                        "general": {
                          "search_engine": "google",
                          "query": "ats for agencies",
                          "detected_query": "ats for agencies",
                          "results_cnt": 128,
                          "search_time": 0.24,
                          "language": "en",
                          "country_code": "US",
                          "location": "United States",
                          "gl": "US",
                          "mobile": false,
                          "basic_view": false,
                          "search_type": "text",
                          "page_title": "ats for agencies - Google Search",
                          "timestamp": "2026-09-29T16:22:20.881Z"
                        },
                        "input": {
                          "original_url": "https://www.google.com/search?q=ats%20for%20agencies&gl=us",
                          "request_id": "hl_309dd1bd_fawunsu8b5k"
                        },
                        "navigation": [
                          {
                            "title": "Images",
                            "href": "https://www.google.com/search?q=ats+for+agencies&udm=2"
                          },
                          {
                            "title": "News",
                            "href": "https://www.google.com/search?q=ats+for+agencies&tbm=nws"
                          },
                          {
                            "title": "Videos",
                            "href": "https://www.google.com/search?q=ats+for+agencies&udm=vids"
                          }
                        ],
                        "organic": [
                          {
                            "link": "https://recruiterflow.com/",
                            "source": "Recruiterflow",
                            "display_link": "https://recruiterflow.com",
                            "title": "Recruiterflow - Best AI-Native ATS & CRM for Executive ...",
                            "description": "Recruiterflow is the best AI-Native ATS & CRM software for executive search firms, recruiting agencies and staffing agencies. It comes equipped with ATS, ...",
                            "snippet_highlighted_words": [
                              "Recruiterflow is the best AI-Native ATS & CRM software"
                            ],
                            "icon": "data:image/webp;base64,...",
                            "rank": 1,
                            "global_rank": 1
                          },
                          {
                            "link": "https://recruiteze.com/ats-for-staffing-agencies/",
                            "source": "Recruiteze",
                            "display_link": "https://recruiteze.com › ats-for-staffing-agencies",
                            "title": "9 Best ATS For Staffing Agencies [New Picks]",
                            "description": "Hiring through ATS or recruiting software helps staffing agencies provide the best-fit, talented and qualified candidates to the client company.",
                            "snippet_highlighted_words": [
                              "Hiring through ATS or recruiting software"
                            ],
                            "icon": "data:image/webp;base64,...",
                            "rank": 3,
                            "global_rank": 7
                          },
                          {
                            "link": "https://smartsearchinc.com/ats-for-your-recruiting-agency-essential-guide/",
                            "source": "SmartSearch Inc.",
                            "display_link": "https://smartsearchinc.com › ats-for-your-recruiting-age...",
                            "title": "Choosing the Right ATS for Your Recruiting Agency",
                            "description": "Discover how to choose an innovative ATS for your recruiting agency's success. Learn key features, benefits, and tips to boost your staffing ...",
                            "snippet_highlighted_words": ["ATS"],
                            "extensions": [
                              {
                                "inline": true,
                                "type": "text",
                                "text": "Jul 15, 2025",
                                "rank": 1
                              }
                            ],
                            "icon": "data:image/webp;base64,...",
                            "rank": 5,
                            "global_rank": 9
                          }
                        ],
                        "pagination": {
                          "pages": [
                            {
                              "page": 2,
                              "start": 10,
                              "link": "https://www.google.com/search?q=ats+for+agencies&start=10"
                            },
                            {
                              "page": 3,
                              "start": 20,
                              "link": "https://www.google.com/search?q=ats+for+agencies&start=20"
                            }
                          ],
                          "current_page": 1,
                          "next_page": 2,
                          "next_page_start": 10,
                          "next_page_link": "https://www.google.com/search?q=ats+for+agencies&start=10"
                        },
                        "related": [
                          {
                            "text": "Ats for agencies reddit",
                            "link": "https://www.google.com/search?q=Ats+for+agencies+reddit",
                            "rank": 1,
                            "global_rank": 14
                          },
                          {
                            "text": "Recruiterflow",
                            "link": "https://www.google.com/search?q=Recruiterflow",
                            "rank": 2,
                            "global_rank": 15
                          }
                        ],
                        "people_also_ask": [
                          {
                            "question": "What is the best ATS for recruiting agencies?",
                            "question_type": "ai_overview",
                            "rank": 1,
                            "global_rank": 3
                          },
                          {
                            "question": "What is an ATS vs CRM?",
                            "question_link": "https://www.google.com/search?q=What+is+an+ATS+vs+CRM%3F",
                            "question_type": "ai_overview",
                            "rank": 3,
                            "global_rank": 5
                          }
                        ]
                      }
                    }
                  },
                  "serpAiOverview": {
                    "summary": "SERP with AI Overview",
                    "value": {
                      "timestamp": 1790698941310,
                      "apiStatus": "success",
                      "apiCode": 200,
                      "meta": {
                        "query": "laptops under $1000",
                        "source": ["web"],
                        "format": "json",
                        "location": "us",
                        "time": "any",
                        "category": "general",
                        "scrape": false,
                        "scrapeLimit": 3,
                        "test": {
                          "id": "9f455f1a-5df8-4658-97fd-1a286789dc67"
                        }
                      },
                      "data": {
                        "general": {
                          "search_engine": "google",
                          "query": "laptops under $1000",
                          "country_code": "US",
                          "location": "United States",
                          "search_type": "text"
                        },
                        "ai_overview": {
                          "text": "The best laptops under $1,000 include the Apple MacBook Neo for everyday macOS use and the HP OmniBook 5 for top-tier Windows performance. Top Recommendations $799.00 Apple& more Offers an all-aluminum build, an A18 Pro chip, and long battery life. It serves as an ideal budget choice for students and general tasks. $862.49 HP& more Noted as one of the best overall Windows AI laptops. It features exceptional battery endurance and a dedicated neural processing unit (NPU). Where to Shop You can purchase or configure Apple models directly at the Apple Store. You can browse a wide inventory of Windows and gaming machines through Best Buy Laptops.",
                          "html": "<div data-subtree=\"aimc\" ...>...</div>",
                          "references": [
                            {
                              "title": "The Best Laptops Under $1,000 We've Tested for 2026 | PCMag",
                              "url": "https://www.pcmag.com/picks/best-laptops-under-1000",
                              "source": "PCMag",
                              "snippet": "Tested Laptops Under $1,000: HP OmniBook 5 14 (best overall Windows, 34-hour battery); Apple MacBook Neo (best budget Mac, aluminum build); MSI Katana 15 HX (RTX 5..."
                            },
                            {
                              "title": "laptops under $1000 - Best Buy",
                              "url": "https://www.bestbuy.com/site/searchpage.jsp?id=pcat17071&st=laptops%20under%20%241000",
                              "source": "Best Buy",
                              "snippet": "Laptops under $1000: Dell 15.6\" 2K (i5, 8GB, 512GB, $649.99), HP Victus 15.6\" Gaming (Ryzen 7, 16GB, RTX 4050, $949.99), HP OmniBo..."
                            },
                            {
                              "title": "What is the best laptop under $ 1000 US? - Reddit",
                              "url": null,
                              "source": "[www.reddit.com](https://www.reddit.com)",
                              "snippet": "Specific Laptop Recommendations: Recommended laptops for graphically intensive medical imaging and 3D rendering under $1000 includ..."
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          },
          "422": {
            "description": "Unable to connect to the target website.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 422,
                  "message": "UNABLE_TO_CONNECT",
                  "details": "The destination server could not be resolved, refused the connection, timed out, or is redirecting indefinitely."
                }
              }
            }
          },
          "500": {
            "description": "Search failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 500,
                  "message": "SEARCH_FAILED",
                  "details": "Our search service encountered an error while processing the request."
                }
              }
            }
          }
        },
        "summary": "Search API for AI Agents & LLMs",
        "tags": ["api-tool"]
      }
    },
    "/brand": {
      "post": {
        "description": "Retrieve structured brand information for a website domain, including key brand details useful for identifying and understanding a website or company. Coverage varies by site — not every domain publishes every data point (logos, social profiles, company details, etc.), so fields may be omitted or null when unavailable.",
        "operationId": "brand",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandDto"
              },
              "examples": {
                "standard": {
                  "summary": "Standard (default)",
                  "value": {
                    "url": "https://databox.com"
                  }
                },
                "enriched": {
                  "summary": "Enriched",
                  "value": {
                    "url": "https://databox.com",
                    "mode": "enriched"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved brand data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponseDto"
                },
                "examples": {
                  "standard": {
                    "summary": "Standard (default)",
                    "value": {
                      "timestamp": 1788792379327,
                      "apiStatus": "success",
                      "apiCode": 200,
                      "meta": {
                        "domain": "databox.com",
                        "mode": "standard",
                        "cached": false,
                        "lastUpdated": "2026-09-07T14:46:19.108Z",
                        "dataAge": "<1h",
                        "refreshRequested": false,
                        "test": { "id": "5f48cafe-e6fb-4c48-a498-2dcb4a960865" }
                      },
                      "data": {
                        "name": "Databox",
                        "fonts": [
                          {
                            "usage": "body",
                            "family": "Inter:400,700",
                            "source": "google"
                          },
                          {
                            "usage": "heading",
                            "family": "Open Sans",
                            "source": "google"
                          }
                        ],
                        "links": {
                          "blog": "https://databox.com/blog",
                          "terms": "https://databox.com/terms-of-service",
                          "signup": "https://databox.com/signup",
                          "careers": "https://databox.com/careers",
                          "privacy": "https://databox.com/privacy-policy"
                        },
                        "colors": {
                          "link": "#4D71F1",
                          "text": "#757677",
                          "accent": "#E0E3EF",
                          "palette": [
                            { "hex": "#FFFFFF", "usage": "primary" },
                            { "hex": "#4D71F1", "usage": "primary" },
                            { "hex": "#757677", "usage": "secondary" },
                            { "hex": "#E0E3EF", "usage": "accent" }
                          ],
                          "primary": "#FFFFFF",
                          "secondary": "#757677",
                          "background": "#FFFFFF"
                        },
                        "domain": "databox.com",
                        "isNsfw": false,
                        "favicon": "https://cdn1.databox.com/favicons/favicon-32x32.png",
                        "spacing": {
                          "baseUnit": 8,
                          "borderRadius": "3.35544e+07px"
                        },
                        "pageMeta": {
                          "title": "Business Intelligence & Analytics Software | Databox",
                          "language": "en",
                          "themeColor": "#ffffff",
                          "canonicalUrl": "https://databox.com/"
                        },
                        "bannerUrl": "https://cdnwebsite.databox.com/wp-content/uploads/2026/09/07082959/databox-og-agentic-analytics-platform-2026.png",
                        "fontSizes": {
                          "h1": "56px",
                          "h2": "44px",
                          "body": "14px"
                        },
                        "components": {
                          "buttonPrimary": {
                            "shadow": "none",
                            "textColor": "#2D3237",
                            "background": "#4D71F1",
                            "borderRadius": "3.35544e+07px"
                          },
                          "buttonSecondary": {
                            "shadow": "none",
                            "textColor": "#2D3237",
                            "background": "#757677",
                            "borderRadius": "3.35544e+07px"
                          }
                        },
                        "colorScheme": "light",
                        "description": "Get clear, trusted answers in seconds with AI-powered analytics software. Connect 130+ data sources, build beautiful dashboards, and automate reports.",
                        "socialProfiles": [
                          {
                            "url": "https://www.linkedin.com/company/2394209",
                            "name": "linkedin"
                          },
                          {
                            "url": "https://www.youtube.com/@databoxHQ",
                            "name": "youtube"
                          },
                          {
                            "url": "https://www.instagram.com/databoxhq",
                            "name": "instagram"
                          },
                          {
                            "url": "https://x.com/databoxhq",
                            "name": "twitter"
                          },
                          {
                            "url": "https://www.facebook.com/databox/",
                            "name": "facebook"
                          }
                        ]
                      }
                    }
                  },
                  "enriched": {
                    "summary": "Enriched",
                    "value": {
                      "timestamp": 1788792379327,
                      "apiStatus": "success",
                      "apiCode": 200,
                      "meta": {
                        "domain": "databox.com",
                        "mode": "enriched",
                        "cached": false,
                        "lastUpdated": "2026-09-07T14:46:19.108Z",
                        "dataAge": "<1h",
                        "refreshRequested": false,
                        "test": { "id": "5f48cafe-e6fb-4c48-a498-2dcb4a960865" }
                      },
                      "data": {
                        "name": "Databox",
                        "fonts": [
                          {
                            "usage": "body",
                            "family": "Inter:400,700",
                            "source": "google"
                          },
                          {
                            "usage": "heading",
                            "family": "Open Sans",
                            "source": "google"
                          }
                        ],
                        "links": {
                          "blog": "https://databox.com/blog",
                          "terms": "https://databox.com/terms-of-service",
                          "signup": "https://databox.com/signup",
                          "careers": "https://databox.com/careers",
                          "privacy": "https://databox.com/privacy-policy"
                        },
                        "colors": {
                          "link": "#4D71F1",
                          "text": "#757677",
                          "accent": "#E0E3EF",
                          "palette": [
                            { "hex": "#FFFFFF", "usage": "primary" },
                            { "hex": "#4D71F1", "usage": "primary" },
                            { "hex": "#757677", "usage": "secondary" },
                            { "hex": "#E0E3EF", "usage": "accent" }
                          ],
                          "primary": "#FFFFFF",
                          "secondary": "#757677",
                          "background": "#FFFFFF"
                        },
                        "domain": "databox.com",
                        "isNsfw": false,
                        "company": {
                          "kind": "PRIVATELY_HELD",
                          "summary": "Databox is a Business Intelligence (BI) software company founded in 2012 by Vlada Petrovic and Davorin Gabrovec. Headquartered in Boston, Massachusetts, it empowers teams to make data-driven decisions by consolidating data from multiple sources into customizable dashboards, reports, and AI-driven insights. The company has raised $3.84M in funding and operates as a private entity with a focus on modern BI solutions for businesses.",
                          "industry": "Business/Productivity Software",
                          "location": {
                            "city": "Boston",
                            "state": "Massachusetts",
                            "country": "United States",
                            "countryCode": "US"
                          },
                          "useCases": [
                            "Centralized business performance tracking across 120+ integrated tools",
                            "Customizable dashboards and real-time reporting for data-driven decision-making",
                            "Automated goal tracking and alerting for KPIs and metrics",
                            "AI-powered analytics and insights for predictive business forecasting",
                            "Scalable BI solutions for teams requiring unified data visualization and collaboration"
                          ],
                          "brandVoice": [
                            "data-driven",
                            "collaborative",
                            "innovative",
                            "trustworthy",
                            "efficient"
                          ],
                          "foundedYear": 2012,
                          "revenueRange": "<$1M",
                          "employeesRange": "1-10",
                          "targetAudience": "Databox serves businesses of all sizes, particularly those needing real-time data consolidation, analytics, and performance tracking. Its solutions are tailored for teams requiring scalable, customizable, and AI-enhanced business intelligence tools.",
                          "targetAudienceSegments": [
                            "Startups",
                            "SMBs",
                            "Mid-Market",
                            "Enterprise"
                          ]
                        },
                        "favicon": "https://cdn1.databox.com/favicons/favicon-32x32.png",
                        "spacing": {
                          "baseUnit": 8,
                          "borderRadius": "3.35544e+07px"
                        },
                        "pageMeta": {
                          "title": "Business Intelligence & Analytics Software | Databox",
                          "language": "en",
                          "themeColor": "#ffffff",
                          "canonicalUrl": "https://databox.com/"
                        },
                        "bannerUrl": "https://cdnwebsite.databox.com/wp-content/uploads/2026/09/07082959/databox-og-agentic-analytics-platform-2026.png",
                        "fontSizes": {
                          "h1": "56px",
                          "h2": "44px",
                          "body": "14px"
                        },
                        "components": {
                          "buttonPrimary": {
                            "shadow": "none",
                            "textColor": "#2D3237",
                            "background": "#4D71F1",
                            "borderRadius": "3.35544e+07px"
                          },
                          "buttonSecondary": {
                            "shadow": "none",
                            "textColor": "#2D3237",
                            "background": "#757677",
                            "borderRadius": "3.35544e+07px"
                          }
                        },
                        "colorScheme": "light",
                        "description": "Get clear, trusted answers in seconds with AI-powered analytics software. Connect 130+ data sources, build beautiful dashboards, and automate reports.",
                        "socialProfiles": [
                          {
                            "url": "https://www.linkedin.com/company/2394209",
                            "name": "linkedin"
                          },
                          {
                            "url": "https://www.youtube.com/@databoxHQ",
                            "name": "youtube"
                          },
                          {
                            "url": "https://www.instagram.com/databoxhq",
                            "name": "instagram"
                          },
                          {
                            "url": "https://x.com/databoxhq",
                            "name": "twitter"
                          },
                          {
                            "url": "https://www.facebook.com/databox/",
                            "name": "facebook"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponseDto"
                },
                "example": {
                  "timestamp": 1700000000000,
                  "apiStatus": "failure",
                  "apiCode": 400,
                  "message": "INVALID_URL",
                  "details": "The URL must be a valid HTTP or HTTPS URL."
                }
              }
            }
          }
        },
        "summary": "Get brand data for a domain",
        "tags": ["api-tool"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API Key required for all endpoints"
      },
      "bearer-token": {
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "type": "http",
        "description": "JWT token for Admin endpoints"
      },
      "gf_auth_session": {
        "type": "apiKey",
        "in": "cookie",
        "name": "gf_auth_session",
        "description": "IDP session cookie"
      }
    },
    "schemas": {
      "MetaScrapeDto": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Target URL",
            "example": "https://example.com"
          },
          "device": {
            "type": "string",
            "description": "Device type to emulate. Defaults to desktop.",
            "example": "desktop",
            "enum": ["desktop", "mobile"],
            "default": "desktop"
          },
          "blockAds": {
            "type": "boolean",
            "description": "Whether to block ads",
            "example": true,
            "default": true
          },
          "renderJS": {
            "type": "boolean",
            "description": "Whether to render JavaScript",
            "example": true,
            "default": true
          },
          "proxyCountry": {
            "type": "string",
            "description": "Proxy country code to route the request",
            "example": "us"
          },
          "format": {
            "type": "string",
            "description": "Format of the scraped result. Defaults to html.",
            "example": "json",
            "enum": ["markdown", "json"],
            "default": "json"
          },
          "fileOutput": {
            "type": "boolean",
            "description": "Whether to get response in file format",
            "example": false,
            "default": false
          }
        },
        "required": ["url"]
      },
      "TestMetaDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique test identifier",
            "example": "mxqx9v9y0742lap6altwdteqd28t23nq"
          }
        },
        "required": ["id"]
      },
      "MetaScrapeMetaDto": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The target URL that was scraped",
            "example": "https://example.com"
          },
          "device": {
            "type": "string",
            "description": "Device type used",
            "example": "desktop",
            "enum": ["desktop", "mobile"]
          },
          "format": {
            "type": "string",
            "description": "Output format of the result",
            "example": "json",
            "enum": ["markdown", "json"]
          },
          "fileOutput": {
            "type": "boolean",
            "description": "Whether to get response in file format",
            "example": false
          },
          "blockAds": {
            "type": "boolean",
            "description": "Whether ads were blocked",
            "example": true
          },
          "renderJS": {
            "type": "boolean",
            "description": "Whether JavaScript was rendered",
            "example": true
          },
          "proxyCountry": {
            "type": "string",
            "description": "Proxy country used, if any"
          },
          "test": {
            "description": "Test details object",
            "allOf": [
              {
                "$ref": "#/components/schemas/TestMetaDto"
              }
            ]
          }
        },
        "required": [
          "url",
          "device",
          "format",
          "fileOutput",
          "blockAds",
          "renderJS",
          "test"
        ]
      },
      "MetaScrapeResponseDto": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "number",
            "description": "Timestamp of the request in milliseconds",
            "example": 1788851167291
          },
          "apiStatus": {
            "type": "string",
            "description": "API status message",
            "example": "success",
            "enum": ["success", "failure"]
          },
          "apiCode": {
            "type": "number",
            "description": "API status code",
            "example": 200
          },
          "meta": {
            "description": "Metadata about the request",
            "allOf": [
              {
                "$ref": "#/components/schemas/MetaScrapeMetaDto"
              }
            ]
          },
          "data": {
            "description": "Scraped data (URL or inline content depending on output)",
            "example": "https://cdn.geekflare.com/tests/webscraping/ZuyhINuAZPQQabbN",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object"
              }
            ]
          }
        },
        "required": ["timestamp", "apiStatus", "apiCode", "meta", "data"]
      },
      "BaseErrorResponseDto": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "number",
            "description": "Timestamp of the request in milliseconds",
            "example": 1778737930991
          },
          "apiStatus": {
            "type": "string",
            "description": "API status message",
            "example": "success",
            "enum": ["success", "failure"]
          },
          "apiCode": {
            "type": "number",
            "description": "API status code",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid URL provided"
          },
          "details": {
            "type": "string",
            "description": "Detailed error information",
            "example": "The URL must be a valid HTTP or HTTPS URL"
          }
        },
        "required": ["timestamp", "apiStatus", "apiCode", "message"]
      },
      "PromptAiPromptDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "AI extraction mode",
            "enum": [
              "prompt",
              "schema",
              "listing",
              "summary",
              "sentiment",
              "keywords"
            ],
            "example": "prompt"
          },
          "query": {
            "type": "string",
            "description": "Open-ended question about the page",
            "example": "What is the return policy?"
          }
        },
        "required": ["type", "query"]
      },
      "SchemaAiPromptDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "AI extraction mode",
            "enum": [
              "prompt",
              "schema",
              "listing",
              "summary",
              "sentiment",
              "keywords"
            ],
            "example": "prompt"
          },
          "schema": {
            "type": "object",
            "description": "JSON Schema-like object describing fields to extract",
            "example": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                }
              }
            }
          }
        },
        "required": ["type", "schema"]
      },
      "ListingAiPromptDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "AI extraction mode",
            "enum": [
              "prompt",
              "schema",
              "listing",
              "summary",
              "sentiment",
              "keywords"
            ],
            "example": "prompt"
          },
          "itemSchema": {
            "type": "object",
            "description": "JSON Schema-like object describing each item to extract from a listing/category page",
            "example": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
[...]
